body
{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(124, 95, 151);
}
h1
{
    text-align: center;
    color: white;
    margin-top: 10px;
}
form
{
    width: 400px;
    padding: 20px;
    margin-left: 500px;
    margin-top: 50px;
    border: 2px;
    border-style: solid;
    color: white;
}
div
{
    margin-bottom: 10px; 
}
button
{
    margin-left: 5px;
    background-color: rgb(238, 124, 158);
    color:white;
    padding: 15px 15px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
input[type=text],input[type=password],input[type=date],input[type=email],input[type=number],input[type=file],select,textarea
{
  width: 98.5%;
  font-size: 20px;
}
.button
{ 
    margin-left: 120px;
    
}